@import '../dist/natural-shapes.scss';
//#0089e0

$color: #0089e0;
$color1: #0089e0;
$color2: #8bdae0;


/**
 * General
 */
#general1 {
    @include natural-circle($color, 100px);
}

#general2 {
    @include natural-rectangle($color, 150px, 100px);
}

#general3 {
    @include natural-trapezoid($color, 150px, 75px, 100px);
}

#general4 {
    @include natural-triangle($color, 100px, 100px);
}



/**
 * Circle
 */

#circle1 {
    @include natural-circle($color, 100px);
}
#circle2 {
    @include natural-half-circle($color, 100px);
}
#circle3 {
    @include natural-quarter-circle($color, 100px);
}

#circle4 {
    @include natural-quarter-circle($color, 100px, $color2, 30px);
}

/**
 * trapeze
 */

#trapeze1 {
    @include natural-trapezoid($color, 150px, 100px, 130px);
}
#trapeze2 {
    @include natural-trapezoid-bordered($color, 150px, 100px, 100px, $color2, 30px, 0 , 0);
}
#trapeze3 {
    @include natural-trapezoid-bordered($color, 150px, 100px, 100px, $color2, 30px);
}

#trapeze4 {
    @include natural-trapezoid-bordered($color, 150px, 100px, 100px, $color2, 30px, 0, 1);
}

/**
 * Triangle
 */
#triangle1 {
    @include natural-triangle($color, 150px, 155px);
}
#triangle2 {
    @include natural-triangle-bordered($color, 150px, 100px, $color2, 30px, 0, 0);
}
#triangle3 {
    @include natural-triangle-bordered($color, 150px, 106px, $color2, 30px, 0, 0.5);
}
#triangle4 {
    @include natural-triangle-bordered($color, 150px, 100px, $color2, 30px, 0, 1);
}


/**
 * Parallelogram
 */
#parralleloram1 {
    @include natural-parallelogram-bottom($color, 100px, 50px, 15deg);
}

#parralleloram2 {
    @include natural-parallelogram-left($color, 100px, 50px, 15deg);
}

#parralleloram3 {
    @include natural-parallelogram-top($color, 100px, 50px, 15deg);
}

#parralleloram4 {
    @include natural-parallelogram($color, 50px, 50px, 25deg, 25deg);
}


/**
 * chevron
 */
#chevron1 {
    @include natural-chevron-right($color, 25px, 30px, 40deg);
}

#chevron2 {
    @include natural-chevron-left($color, 25px, 30px, 40deg);
}

#chevron3 {
    @include natural-chevron-bottom($color, 25px, 30px, 40deg);
}

#chevron4 {
    @include natural-chevron-top($color, 25px, 30px, 40deg);
}

/**
 * arrow
 */
#arrow1 {
    @include natural-arrow($color, 1em, 3em, 0);
}

#arrow2 {
    @include natural-arrow($color, 20px, 50px, 90deg);
}

#arrow3 {
    @include natural-arrow($color, 20px, 50px, 180deg);
}

#arrow4 {
    @include natural-arrow($color, 20px, 50px, 270deg);
}
